run = "npm run dev"
modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
